.banner_container{
    position: relative;
    width:
    100%;
    height: 100%;
    padding: 1rem;
    .view_demo{
      position: absolute;
      right: 2%;
      top: 2%;

      p{
        font-size: 0.8rem;
        font-weight: 500;

        strong{
          color: rgb(0, 124, 128);
        }
        small{
          color: blue;
          cursor: pointer;
          font-weight: 500;
        }
      }
    }
    .demoBanner{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 500px;
      height: 250px;
border-radius: 0.5rem;
      // background-image: url('https://img.freepik.com/free-photo/abstract-sale-busioness-background-banner-design-multipurpose_1340-16802.jpg?t=st=1719041827~exp=1719045427~hmac=1add532df5a2337c7e283544a4368ac8bfb1b322de22a7a01879dd4d3902d6f0&w=900');
      background: linear-gradient(#fff,#d2faff);
      background-position: center;
      overflow-y: scroll;
      box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 800;

      padding: 10px;

      .close_banner{
        position: absolute;
        right: 3%;
        top: 3%;

        i{
          font-size: 1.5rem;
          color: rgb(255, 119, 119);
          cursor: pointer;
        }
      }
      .banner_title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #5d5af7;

        h4{
          font-size: 1.2rem;
        }
      }
      .banner_description{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
        text-align: center;
        color: rgb(31, 31, 31);

        small{
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
      .banner_action{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;

        a{
          text-decoration: none;
          padding: 6px 1.5rem;
          background-color: royalblue;
          border-radius: 10px;
          color: rgb(255, 255, 255);
          font-weight: 550;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          i{
            color: rgb(255, 255, 255);
          }

          &:hover{
            box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
          }
        }
      }

      &::-webkit-scrollbar{
        display: none;
        width: 4px;
        height: 5px;
        background-color: #fff;
      }
      &::-webkit-scrollbar-thumb{
        width: 4px;
        background-color: royalblue;
      }
    }
    .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
    
        h4 {
          font-size: 0.9rem;
          font-weight: 550;
          color: #383838;
        }
        .note {
            small {
              font-size: 0.8rem;
              color: rgb(136, 136, 136);
      
              span:nth-child(1) {
                color: red;
                font-weight: bold;
                padding-right: 10px;
              }
              span:nth-child(2) {
                color: rgb(40, 139, 102);
                font-weight: bold;
              }
              span:nth-child(3) {
                color: rgb(98, 101, 245);
                font-weight: 550;
                padding-right: 5px;
              }
              span:nth-child(4) {
                color: rgb(70, 108, 233);
                font-weight: 550;
                padding-right: 5px;
              }
            }
          }
      }
    .form_container_box {
        width: 100%;
        height: auto;
        padding: 1rem;
    
        form {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
          grid-row-gap: 2rem;
          grid-column-gap: 1.5rem;
    
          .form_group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 5px;
            width: 100%;
    
            label {
              font-size: 0.8rem;
              font-weight: 500;
              color: rgb(34, 34, 34);
              width: 100%;
              sup {
                color: red;
                font-weight: bold;
                margin-left: 3px;
              }
    
              img {
                width: 70px;
                height: 70px;
              }
            }
    
            input[type="text"],
            input[type="email"],
            input[type="tel"] {
              padding: 8px 1rem;
              width: 100%;
              outline: none;
              border: 1px solid rgb(185, 185, 185);
              border-radius: 5px;
    
              &::placeholder {
                font-size: 0.8rem;
                color: gray;
              }
            }
    textarea{
        padding: 8px 1rem;
        width: 100%;
        outline: none;
        border: 1px solid rgb(185, 185, 185);
        border-radius: 5px;

        &::placeholder {
          font-size: 0.8rem;
          color: gray;
        }
    }
            .first,
            .second {
              label {
                font-size: 0.9rem;
                font-weight: 500;
                color: rgb(105, 104, 104);
                width: 100%;
                sup {
                  color: red;
                  font-weight: bold;
                  margin-left: 3px;
                }
    
                img {
                  width: 90px;
                  height: 90px;
                  object-fit: cover;
                  object-position: center;
                  border-radius: 50%;
                  border: 2px solid skyblue;
                }
              }
            }
            input[type="file"] {
              display: none;
            }
          }
      
       
            .form_submit_actions{
              display: flex;
              align-items: center;
              grid-column: 1/-1;
              justify-content: flex-end;
              gap: 10px;
    
              button{
                outline: none;
                border: transparent;
                width: 100px;
                padding: 7px 1rem;
                border-radius: 5px;
                font-weight: 500;
                font-size: 0.9rem;
              }
              .save{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: royalblue;
                color: #fff;
                transition: all 0.3s ease;
                &:hover{
                  background-color: rgb(105, 141, 248);
                  box-shadow: 0px 4px 4px rgb(124, 124, 124);
                  transition: all 0.3s ease;
                }
              }
              .discard{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(138, 138, 138);
                color: #ffffff;
                transition: all 0.3s ease;
                &:hover{
                  box-shadow: 0px 4px 4px rgb(165, 165, 165);
                  background-color: rgb(92, 92, 92);
                  transition: all 0.3s ease;
                }
              }
            }
        }
      }
}


