.vcard_form_container {
    position: relative;
    width: 100%;
    padding: 1rem;
  
    .vcard_form_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 1rem auto;
  
      .title {
        h5 {
          font-size: 1.2rem;
          color: #181818;
          font-weight: 500;
        }
      }
      .back_action {
        button{
          padding: 6px 1rem !important;
          background-color: rgb(85, 85, 85) !important;
          // border: 1px solid #b379ff !important;
          font-size: 0.9rem;
          font-weight: 500;
          color: #ffffff !important;
          border-radius: 5px !important;
          display: flex;
          align-items:center;
          justify-content: center;
          gap: 10px;
          transition: all 0.3s ease-in;
          i{
            display: block !important;
            font-size: 1rem !important;
          }
  
          &:hover{
            background-color: #3f3f3f !important;
            scale: 1 !important;
            border: none !important;
            color: #fff !important;
            box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
            transition: all 0.2s ease-in;
          }
        }
      }
    }
    .vcard_form_box {
      width: 100%;
      height: 600px;
      min-height: 600px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.5rem 0px;
      overflow: scroll;
      position: relative;
  
   
      // SideNav Style
      .form_sidenav {
          position: sticky;
          left: 0%;
          top: 0%;
        display: flex;
        flex-direction: column;
        flex: 0.2;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
      //   background-color: #e0f6fd;
        // border-right: 1px solid rgb(199, 199, 199);
        overflow-y: scroll;
        padding: 1.5rem 0rem 1rem 0.4rem;
  
     .slider_icon{
      position: absolute;
      top: 0%;
      right: 5%;
      z-index: 800;
      

      i{
        font-size: 1.1rem;
        color: royalblue;
        cursor: pointer;
        &:hover{
          filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.4)) ;
          
        }
      }
     }
  
          // .menu_item:nth-child(6){
  
          //   &:hover{
          //     cursor: not-allowed;
          //     opacity: 0.4;
          //     background-color: none !important;
          //     // border-left: 4px solid #6571ff;
          //     border-top-left-radius:4px;
          //     border-bottom-left-radius: 4px;
          //     transition: all 0.1s ease;
          // }
          // }
          // .menu_item:nth-child(8){
  
          //   &:hover{
          //     cursor: not-allowed;
          //     opacity: 0.4;
          //     background-color: none !important;
          //     // border-left: 4px solid #6571ff;
          //     border-top-left-radius:4px;
          //     border-bottom-left-radius: 4px;
          //     transition: all 0.1s ease;
          // }
          // }
          // .menu_item:nth-child(9){
  
          //   &:hover{
          //     cursor: not-allowed;
          //     opacity: 0.4;
          //     background-color: none !important;
          //     // border-left: 4px solid #6571ff;
          //     border-top-left-radius:4px;
          //     border-bottom-left-radius: 4px;
          //     transition: all 0.1s ease;
          // }
          // }
          // .menu_item:nth-child(12){
  
          //   &:hover{
          //     cursor: not-allowed;
          //     opacity: 0.4;
          //     background-color: none !important;
          //     // border-left: 4px solid #6571ff;
          //     border-top-left-radius:4px;
          //     border-bottom-left-radius: 4px;
          //     transition: all 0.1s ease;
          // }
          // }
          // .menu_item:nth-child(15){
  
          //   &:hover{
          //     cursor: not-allowed;
          //     opacity: 0.4;
          //     background-color: none !important;
          //     // border-left: 4px solid #6571ff;
          //     border-top-left-radius:4px;
          //     border-bottom-left-radius: 4px;
          //     transition: all 0.1s ease;
          // }
          // }
        .menu_item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          width: 100%;
          padding: 15px 0.5rem 15px 20px;
          transition: all 0.1s ease;
          margin-bottom: 10px;
          cursor: pointer;
  
          i {
            font-size: 1.3rem;
          }
          small {
            font-size: 0.8rem;
            font-weight: 500;
            color: #424040;
          }
  
          &:hover{
              background-color: #cdf9ff;
              border-left: 4px solid #6571ff;
              border-top-left-radius:4px;
              border-bottom-left-radius: 4px;
              transition: all 0.1s ease;
          }
        }
  
        &::-webkit-scrollbar {
          width: 4px;
        
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
        }
  
        &::-webkit-scrollbar-thumb {
          width: 3px;
          height: 4px;
          background-color: #7a7a7a;
          border-radius: 5px;
        }
      }
  
      // Forms style
      .all_form_inputs {
        display: flex;
        flex: 0.8;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        // background-color: #818181;
      }
  
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  
  
  //Menu Active Style
  
  #menu_active{
      background-color: #cdf9ff;
      border-left: 4px solid #6571ff;
      border-top-left-radius:4px;
      border-bottom-left-radius: 4px;
      transition: all 0.1s ease;
  }

  //Form slider::after

  #slideClose{
   flex: 0.04;
   padding: 1rem 1rem;
   overflow-x: hidden;

   .menu_item{
    // gap: 1rem;
    // width: 20%;
    // height: 10%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0rem 10px 0px;
    border-radius: 5rem;

    margin: 5px auto;

    small{
      display: none;
    }
   }
  }

  #slideOpen{

  }